<app-header></app-header>
<br>
<div class="container">
    <div class="card">
        <div class="card" style="background-color:ghostwhite;">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h4>Topic: {{ question.title }}</h4>
                            <p>Asked by: {{ question.username }}</p>
                            <h4>Question: {{ question.question }}</h4>
                            <div class="modal-footer">
                              <button class="btn btn-primary" (click)="addAnswer(question?.q_id)">
                                  Add Your Answer Here
                              </button>
                              <button class="btn btn-primary" (click)="chat()">
                                chat
                            </button>

                          </div>

                            <div *ngFor="let answer of answers">
                                <div *ngIf="question.q_id===answer.q_id">
                                    <h5 style="color:green;">Answer: </h5>
                                    <h6 style="color:orange;"> {{answer.answer}}</h6>
                                    <p>Answered By: {{answer.username}}</p>
                                    <div *ngIf="answer.returnedImage!=null">
                                        <img style=" border-radius: 15px;" width="100%" [src]="answer.returnedImage" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
