<app-admin-header></app-admin-header>
<br>
<div class="container">
    <div class="card">
        <h3 class="list-group-item list-group-item-action active"> You can delete following Questions </h3>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action" *ngFor="let question of questions">
                <div class="d-flex justify-content-between">
                    <div>
                        <h4>Topic: {{ question.title }}</h4>
                        <p>Asked by: {{ question.username }}</p>
                        <h4>Question: {{ question.question }}</h4>
                        <p>Approved Status: {{question.approved}}</p>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-danger"  (click)="df(question?.q_id)">
                          Delete Question
                      </button>
                      <div *ngIf="a==question?.q_id">
                      <input type="text" value="remark" id="remark" placeholder="remark" [(ngModel)]="remark">
                      <button class="btn btn-danger" (click)="delete(question?.q_id)">
                          conform
                      </button>
                    </div>
                  </div>
                </div>
            </li>
        </ul>
    </div>
</div>
